body {
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  font-size: .8rem;
}

.cb {
  clear: both;
}

button:focus,
span:focus,
input:focus,
:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

a,
.pointer {
  cursor: pointer;
}

.btn-group-sm>.btn, .btn-sm {
  padding: .1rem .6rem 0.2rem;
  font-size: .8rem;
  line-height: 1;
}

.card-footer {
  padding: .5rem 1.25rem;
}
