<div class="post">
    <div class="post--title">
        <h3>{{post.subject}}</h3>
    </div>
    <div class="post--date">
        {{post.created.strftime("%b %d, %Y")}}
    </div>
    <div class="post--content mb-4">
        {{post.content | safe}}
    </div>
    {% if post.username == current_user.username %}
    <div class="text-right">
        <a href="/blog/{{post.key().id()}}/edit" class="d-inline">
            <button class="btn btn-dark btn-sm mr-2">Edit</button>
        </a>
        <a href="/blog/{{post.key().id()}}/delete" class="d-inline">
            <button class="btn btn-dark btn-sm mr-2">Delete</button>
        </a>
    </div>
    {% endif %}
</div>
